*{

}
body{
  height: 100svh;
  font-family: "Sora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: black;
}
.container1{
  width: fit-content;
  height: 100vh;
}
.input_container{
  display: flex;
  border: 2px solid rgb(215, 213, 213);
  max-width: fit-content;
  border-radius: 10px;
  min-width: 100%;
}
input{
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: transparent;
}
.searchicon{
  cursor: pointer;
  font-size: 25px;
}
.images>img{
  width: 120px;
  height: 120px;
  border-radius: 50%
  
}
.element>img{
  width: 80px;
  border-radius: 30px;
}
.humidity-percent{
  }

.weather-type{
  color: black;
}

.copyright{
  font-size: medium;
  color: black;
  font-weight: 500;
}


/* loader */
.spinner-border{
}